@use "../../assets/sass/colors" as *;

.__teletype__ {
    .cursor {
        color: var(--bg-20);
        background: var(--theme-fg, var(--fg));
    }

    .hidden {
        visibility: hidden;
    }
}